.display_tablet {
  display: none;
}

.display_mobile {
  display: none;
}

.display_pc {
  display: flex;
}

body {
  width: 100vw;
  overflow-x: hidden;
}
body > #wrapper {
  width: 100vw;
}
body > #wrapper > section:nth-child(4) {
  width: 100vw;
  height: 87vh;
  background-image: url("../img/main/main_top_bg.jpg");
  margin-top: 72px;
  background-position: center top;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
body > #wrapper > section:nth-child(4) > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}
body > #wrapper > section:nth-child(4) > div > h3 {
  font-weight: 700;
  color: #fff;
  letter-spacing: 5px;
  margin-bottom: 32px;
}
body > #wrapper > section:nth-child(4) > div > h1 {
  color: #fff;
  font-weight: 700;
  font-size: 96px;
  letter-spacing: 22px;
  margin-bottom: 40px;
}
body > #wrapper > section:nth-child(4) > div > .line {
  width: 800px;
  margin-bottom: 40px;
}
body > #wrapper > section:nth-child(4) > div > p {
  text-align: center;
  color: #fff;
  font-weight: 500;
  margin-bottom: 8px;
}
body > #wrapper > section:nth-child(5) {
  margin-top: 200px;
  width: 100vw;
  display: flex;
  justify-content: center;
}
body > #wrapper > section:nth-child(5) > div {
  width: 1200px;
}
body > #wrapper > section:nth-child(5) > div > div:nth-child(1) {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
body > #wrapper > section:nth-child(5) > div > div:nth-child(2) {
  margin-top: 110px;
  display: flex;
  justify-content: space-between;
}
body > #wrapper > section:nth-child(5) > div > div:nth-child(2) > article:nth-child(1) {
  width: 488px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body > #wrapper > section:nth-child(5) > div > div:nth-child(2) > article:nth-child(1) > div:nth-child(1) > h1:nth-child(2) {
  margin-top: 16px;
  margin-bottom: 32px;
}
body > #wrapper > section:nth-child(5) > div > div:nth-child(2) > article:nth-child(1) > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 232px;
  margin-top: -96px;
}
body > #wrapper > section:nth-child(5) > div > div:nth-child(2) > article:nth-child(1) > div:nth-child(3) {
  width: 282px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  border: 1px solid black;
}
body > #wrapper > section:nth-child(5) > div > div:nth-child(2) > article:nth-child(2) {
  width: 588px;
  height: 544px;
  background-image: url("../img/main/about_01.png");
  background-position: center;
  background-size: cover;
}
body > #wrapper > section:nth-child(6) {
  margin-top: 200px;
  width: 100vw;
  height: 330px;
  background-image: url("../img/main/menu_banner.png");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
body > #wrapper > section:nth-child(6) > div {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
body > #wrapper > section:nth-child(6) > div > div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
body > #wrapper > section:nth-child(6) > div > div > .line {
  margin: 30px 0;
  width: 800px;
  border-bottom: 1px solid;
}
body > #wrapper > section:nth-child(6) > div > div > div:nth-child(1) {
  position: relative;
  left: 96px;
}
body > #wrapper > section:nth-child(6) > div > div > div:nth-child(3) {
  position: relative;
  left: 200px;
}
body > #wrapper > section:nth-child(6) > div > div > div {
  color: #fff;
  margin-right: 36px;
}
body > #wrapper > section:nth-child(6) > div > div > div > h1:nth-child(1) {
  margin-bottom: 8px;
}
body > #wrapper > section:nth-child(6) > div > div > div > p {
  margin-top: 16px;
}
body > #wrapper > section:nth-child(7) {
  padding-top: 200px;
  padding-bottom: 100px;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-image: url("../img/main/been_bg_pc.png");
  background-position: center bottom;
  background-size: cover;
}
body > #wrapper > section:nth-child(7) > div {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body > #wrapper > section:nth-child(7) > div > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body > #wrapper > section:nth-child(7) > div > #menu-list {
  width: 1200px;
  margin-top: 110px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px;
}
body > #wrapper > section:nth-child(7) > div > #menu-list > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body > #wrapper > section:nth-child(7) > div > #menu-list > div > div:nth-child(1) {
  border-radius: 50%;
  width: 282px;
  height: 282px;
  margin-bottom: 25px;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.2);
  background-position: center bottom;
  background-size: 100%;
  border: 0px solid #a07062;
}
body > #wrapper > section:nth-child(7) > div > #menu-list > div > div:nth-child(1):hover {
  cursor: pointer;
  background-size: 120%;
  border: 10px solid #a07062;
  transition: ease 0.7s;
}
body > #wrapper > section:nth-child(7) > div > #menu-list > div:nth-child(1) > div:nth-child(1) {
  background-image: url("../img/main/menu_coffee.png");
}
body > #wrapper > section:nth-child(7) > div > #menu-list > div:nth-child(2) > div:nth-child(1) {
  background-image: url("../img/main/menu_juice.png");
}
body > #wrapper > section:nth-child(7) > div > #menu-list > div:nth-child(3) > div:nth-child(1) {
  background-image: url("../img/main/menu_tea.png");
}
body > #wrapper > section:nth-child(7) > div > #menu-list > div:nth-child(4) > div:nth-child(1) {
  background-image: url("../img/main/menu_dessert.png");
}
body > #wrapper > section:nth-child(8) {
  margin-top: 200px;
  width: 100vw;
  display: flex;
  justify-content: center;
}
body > #wrapper > section:nth-child(8) > div:nth-child(1) {
  width: 100vw;
  height: 360px;
  background-image: url("../img/main/main_store_bg.png");
  background-position: center;
  background-size: cover;
  z-index: 0;
  left: 0;
  position: relative;
}
body > #wrapper > section:nth-child(8) > div:nth-child(2) {
  z-index: 1;
  position: absolute;
  margin-top: 128px;
  width: 1200px;
  height: 468px;
  border: 5px solid #331e18;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
body > #wrapper > section:nth-child(8) > div:nth-child(2) > div {
  width: 996px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body > #wrapper > section:nth-child(8) > div:nth-child(2) > div > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body > #wrapper > section:nth-child(8) > div:nth-child(2) > div > article {
  width: 100%;
  height: 216px;
  display: flex;
  justify-content: space-between;
}
body > #wrapper > section:nth-child(8) > div:nth-child(2) > div > article > div:nth-child(1) {
  width: 384px;
  height: 216px;
  background-image: url("../img/main/main_store.png");
  background-size: cover;
  background-position: center;
}
body > #wrapper > section:nth-child(8) > div:nth-child(2) > div > article > div:nth-child(2) {
  width: 588px;
  height: 216px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body > #wrapper > section:nth-child(8) > div:nth-child(2) > div > article > div:nth-child(2) > div:nth-child(1) > h2 {
  margin-bottom: 24px;
}
body > #wrapper > section:nth-child(8) > div:nth-child(2) > div > article > div:nth-child(2) > div:nth-child(1) > h3:last-child {
  margin-top: 8px;
}
body > #wrapper > section:nth-child(8) > div:nth-child(2) > div > article > div:nth-child(2) > a {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  align-items: center;
}
body > #wrapper > section:nth-child(8) > div:nth-child(2) > div > article > div:nth-child(2) > a > i {
  font-size: 20px;
}
body > #wrapper > section:nth-child(9) {
  margin-top: 480px;
  width: 100vw;
  display: flex;
  justify-content: center;
}
body > #wrapper > section:nth-child(9) > div:nth-child(1) {
  width: 100vw;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}
body > #wrapper > section:nth-child(9) > div:nth-child(1) > div {
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
body > #wrapper > section:nth-child(9) > div:nth-child(1) > div > div:nth-child(1) {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body > #wrapper > section:nth-child(9) > div:nth-child(1) > div > div:nth-child(2) {
  margin-top: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
body > #wrapper > section:nth-child(9) > div:nth-child(1) > div > div:nth-child(2) > div {
  width: 320px;
  height: 320px;
  border: 3px solid #331e18;
  rotate: 45deg;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 98%;
}
body > #wrapper > section:nth-child(9) > div:nth-child(1) > div > div:nth-child(2) > div:nth-child(1) {
  position: relative;
  left: 64px;
  background-image: url("../img/main/gallery_01.png");
}
body > #wrapper > section:nth-child(9) > div:nth-child(1) > div > div:nth-child(2) > div:nth-child(2) {
  width: 544px;
  height: 544px;
  z-index: 1;
  background-image: url("../img/main/gallery_02.png");
  background-size: 98.5%;
}
body > #wrapper > section:nth-child(9) > div:nth-child(1) > div > div:nth-child(2) > div:nth-child(3) {
  position: relative;
  right: 64px;
  background-image: url("../img/main/gallery_03.png");
}
body > #wrapper > section:nth-child(9) > div:nth-child(1) > div > div:nth-child(3) {
  width: 282px;
  height: 72px;
  border: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 36px;
  margin-top: 40px;
  color: #fff;
}
body > #wrapper > section:nth-child(9) > div:nth-child(2) {
  position: relative;
  z-index: -1;
  margin-top: 560px;
  width: 100vw;
  height: 400px;
  background: linear-gradient(to bottom, #7a4c3f, #a07062);
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .display_pc {
    display: none;
  }
  .display_mobile {
    display: none;
  }
  .display_tablet {
    display: flex;
  }
  body {
    width: 100vw;
    overflow-x: hidden;
  }
  body > #wrapper {
    width: 100vw;
  }
  body > #wrapper > section:nth-child(4) {
    width: 100vw;
    height: 70vh;
    background-image: url("../img/main/main_top_bg.jpg");
    margin-top: 72px;
    background-position: center top;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body > #wrapper > section:nth-child(4) > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
  }
  body > #wrapper > section:nth-child(4) > div > h3 {
    font-weight: 700;
    color: #fff;
    letter-spacing: 5px;
    margin-bottom: 30px;
  }
  body > #wrapper > section:nth-child(4) > div > h1 {
    color: #fff;
    font-weight: 700;
    font-size: 70px;
    letter-spacing: 22px;
    margin-bottom: 40px;
  }
  body > #wrapper > section:nth-child(4) > div > .line {
    width: 70vw;
    margin-bottom: 40px;
  }
  body > #wrapper > section:nth-child(4) > div > p {
    text-align: center;
    color: #fff;
    font-weight: 500;
    margin-bottom: 10px;
  }
  body > #wrapper > section:nth-child(5) {
    margin-top: 15vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 0 36px;
  }
  body > #wrapper > section:nth-child(5) > div {
    width: 100%;
  }
  body > #wrapper > section:nth-child(5) > div > div:nth-child(1) {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  body > #wrapper > section:nth-child(5) > div > div:nth-child(2) {
    margin-top: 7vh;
    display: flex;
    justify-content: space-between;
  }
  body > #wrapper > section:nth-child(5) > div > div:nth-child(2) > article:nth-child(1) {
    width: 44vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  body > #wrapper > section:nth-child(5) > div > div:nth-child(2) > article:nth-child(1) > div:nth-child(1) > h1:nth-child(2) {
    margin-top: 15px;
    margin-bottom: 30px;
  }
  body > #wrapper > section:nth-child(5) > div > div:nth-child(2) > article:nth-child(1) > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25vh;
    margin-top: -5vh;
  }
  body > #wrapper > section:nth-child(5) > div > div:nth-child(2) > article:nth-child(1) > div:nth-child(3) {
    width: 260px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    border: 1px solid black;
  }
  body > #wrapper > section:nth-child(5) > div > div:nth-child(2) > article:nth-child(2) {
    width: 44vw;
    height: 45vh;
    background-color: rgb(75, 75, 75);
  }
  body > #wrapper > section:nth-child(6) {
    margin-top: 15vh;
    width: 100vw;
    height: 270px;
    background-image: url("../img/main/menu_banner.png");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 36px;
  }
  body > #wrapper > section:nth-child(6) > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  body > #wrapper > section:nth-child(6) > div > div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  body > #wrapper > section:nth-child(6) > div > div > .line {
    margin: 20px 0;
    width: 400px;
    border-bottom: 1px solid;
  }
  body > #wrapper > section:nth-child(6) > div > div > div:nth-child(1) {
    position: relative;
    left: -50px;
  }
  body > #wrapper > section:nth-child(6) > div > div > div:nth-child(3) {
    position: relative;
    left: 0px;
  }
  body > #wrapper > section:nth-child(6) > div > div > div {
    color: #fff;
    margin-right: 20px;
  }
  body > #wrapper > section:nth-child(6) > div > div > div > h1:nth-child(1) {
    margin-bottom: 10px;
  }
  body > #wrapper > section:nth-child(6) > div > div > div > p {
    margin-top: 20px;
  }
  body > #wrapper > section:nth-child(7) {
    width: 100vw;
    display: flex;
    justify-content: center;
    background-image: url("../img/main/been_bg_tablet.png");
    background-size: contain;
    padding-top: 15vh;
    padding-bottom: 10vh;
  }
  body > #wrapper > section:nth-child(7) > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body > #wrapper > section:nth-child(7) > div > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body > #wrapper > section:nth-child(7) > div > #menu-list {
    width: 100%;
    padding: 0 36px;
    margin-top: 110px;
    display: flex;
    justify-content: space-between;
  }
  body > #wrapper > section:nth-child(7) > div > #menu-list > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body > #wrapper > section:nth-child(7) > div > #menu-list > div > div:nth-child(1) {
    border-radius: 50%;
    width: 20vw;
    height: 20vw;
    margin-bottom: 25px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.2);
    background-position: center bottom;
    background-size: 100%;
    border: 0px solid #a07062;
  }
  body > #wrapper > section:nth-child(7) > div > #menu-list > div > div:nth-child(1):hover {
    cursor: pointer;
    background-size: 120%;
    border: 10px solid #a07062;
    transition: ease 0.7s;
  }
  body > #wrapper > section:nth-child(7) > div > #menu-list > div:nth-child(1) > div:nth-child(1) {
    background-image: url("../img/main/menu_coffee.png");
  }
  body > #wrapper > section:nth-child(7) > div > #menu-list > div:nth-child(2) > div:nth-child(1) {
    background-image: url("../img/main/menu_juice.png");
  }
  body > #wrapper > section:nth-child(7) > div > #menu-list > div:nth-child(3) > div:nth-child(1) {
    background-image: url("../img/main/menu_tea.png");
  }
  body > #wrapper > section:nth-child(7) > div > #menu-list > div:nth-child(4) > div:nth-child(1) {
    background-image: url("../img/main/menu_dessert.png");
  }
  body > #wrapper > section:nth-child(8) {
    margin-top: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
  }
  body > #wrapper > section:nth-child(8) > div:nth-child(1) {
    width: 100vw;
    height: 256px;
    background-image: url("../img/main/main_store_bg.png");
    background-position: center;
    background-size: cover;
    z-index: 0;
    left: 0;
    position: relative;
  }
  body > #wrapper > section:nth-child(8) > div:nth-child(2) {
    z-index: 1;
    position: absolute;
    margin-top: 96px;
    width: 92%;
    height: 492px;
    border: 5px solid #331e18;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }
  body > #wrapper > section:nth-child(8) > div:nth-child(2) > div {
    width: 100%;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 4vw;
  }
  body > #wrapper > section:nth-child(8) > div:nth-child(2) > div > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body > #wrapper > section:nth-child(8) > div:nth-child(2) > div > article {
    width: 100%;
    height: 18vh;
    display: flex;
    justify-content: space-between;
  }
  body > #wrapper > section:nth-child(8) > div:nth-child(2) > div > article > div:nth-child(1) {
    width: 40vw;
    height: 18vh;
    background-image: url("../img/main/main_store.png");
    background-size: cover;
    background-position: center;
  }
  body > #wrapper > section:nth-child(8) > div:nth-child(2) > div > article > div:nth-child(2) {
    width: 40vw;
    height: 18vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  body > #wrapper > section:nth-child(8) > div:nth-child(2) > div > article > div:nth-child(2) > div:nth-child(1) > h2 {
    margin-bottom: 24px;
  }
  body > #wrapper > section:nth-child(8) > div:nth-child(2) > div > article > div:nth-child(2) > div:nth-child(1) > h3:last-child {
    margin-top: 8px;
  }
  body > #wrapper > section:nth-child(8) > div:nth-child(2) > div > article > div:nth-child(2) > a {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    align-items: center;
  }
  body > #wrapper > section:nth-child(8) > div:nth-child(2) > div > article > div:nth-child(2) > a > i {
    font-size: 20px;
  }
  body > #wrapper > section:nth-child(9) {
    margin-top: 480px;
    width: 100vw;
    display: flex;
    justify-content: center;
  }
  body > #wrapper > section:nth-child(9) > div:nth-child(1) {
    width: 100vw;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    padding: 0 36px;
  }
  body > #wrapper > section:nth-child(9) > div:nth-child(1) > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }
  body > #wrapper > section:nth-child(9) > div:nth-child(1) > div > div:nth-child(1) {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body > #wrapper > section:nth-child(9) > div:nth-child(1) > div > div:nth-child(2) {
    margin-top: 15vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  body > #wrapper > section:nth-child(9) > div:nth-child(1) > div > div:nth-child(2) > div {
    width: 25vw;
    height: 25vw;
    border: 3px solid #331e18;
    rotate: 45deg;
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 98%;
  }
  body > #wrapper > section:nth-child(9) > div:nth-child(1) > div > div:nth-child(2) > div:nth-child(1) {
    position: relative;
    left: 48px;
    background-image: url("../img/main/gallery_01.png");
  }
  body > #wrapper > section:nth-child(9) > div:nth-child(1) > div > div:nth-child(2) > div:nth-child(2) {
    width: 320px;
    height: 320px;
    z-index: 1;
    background-size: 98.5%;
    background-image: url("../img/main/gallery_02.png");
  }
  body > #wrapper > section:nth-child(9) > div:nth-child(1) > div > div:nth-child(2) > div:nth-child(3) {
    position: relative;
    right: 48px;
    background-image: url("../img/main/gallery_03.png");
  }
  body > #wrapper > section:nth-child(9) > div:nth-child(1) > div > div:nth-child(3) {
    width: 282px;
    height: 72px;
    border: 1px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 36px;
    margin-top: 56px;
    color: #fff;
  }
  body > #wrapper > section:nth-child(9) > div:nth-child(2) {
    position: relative;
    z-index: -1;
    margin-top: 400px;
    width: 100vw;
    height: 320px;
    background: linear-gradient(to bottom, #7a4c3f, #a07062);
  }
}
@media all and (max-width: 768px) {
  .display_pc {
    display: none;
  }
  .display_tablet {
    display: none;
  }
  .display_mobile {
    display: flex;
  }
  body {
    width: 100vw;
    overflow-x: hidden;
  }
  body > #wrapper {
    width: 100vw;
  }
  body > #wrapper > section:nth-child(4) {
    width: 100vw;
    height: 40vh;
    background-image: url("../img/main/main_top_bg.jpg");
    margin-top: 50px;
    background-position: center top;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body > #wrapper > section:nth-child(4) > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
  }
  body > #wrapper > section:nth-child(4) > div > h3 {
    font-weight: 700;
    color: #fff;
    letter-spacing: 5px;
    margin-bottom: 15px;
    font-size: 14px;
  }
  body > #wrapper > section:nth-child(4) > div > h1 {
    color: #fff;
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 15px;
    margin-bottom: 15px;
  }
  body > #wrapper > section:nth-child(4) > div > .line {
    width: 70vw;
    border-bottom: 2px solid;
  }
  body > #wrapper > section:nth-child(5) {
    margin-top: 15vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 0 24px;
  }
  body > #wrapper > section:nth-child(5) > div {
    width: 100%;
  }
  body > #wrapper > section:nth-child(5) > div > div:nth-child(1) {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  body > #wrapper > section:nth-child(5) > div > div:nth-child(2) {
    margin-top: 7vh;
    display: flex;
    flex-direction: column-reverse;
  }
  body > #wrapper > section:nth-child(5) > div > div:nth-child(2) > article:nth-child(1) {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7vh;
  }
  body > #wrapper > section:nth-child(5) > div > div:nth-child(2) > article:nth-child(1) > div:nth-child(1) {
    width: 100%;
  }
  body > #wrapper > section:nth-child(5) > div > div:nth-child(2) > article:nth-child(1) > div:nth-child(1) > h1:nth-child(2) {
    margin-top: 12px;
    margin-bottom: 2vh;
  }
  body > #wrapper > section:nth-child(5) > div > div:nth-child(2) > article:nth-child(1) > div:nth-child(2) {
    width: 100%;
    margin-top: 1vh;
    display: flex;
  }
  body > #wrapper > section:nth-child(5) > div > div:nth-child(2) > article:nth-child(1) > div:nth-child(2) > p {
    margin-top: 2vh;
  }
  body > #wrapper > section:nth-child(5) > div > div:nth-child(2) > article:nth-child(1) > div:nth-child(3) {
    margin-top: 20vh;
    width: 140px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
  }
  body > #wrapper > section:nth-child(5) > div > div:nth-child(2) > article:nth-child(1) > div:nth-child(3) > div > i {
    display: none;
  }
  body > #wrapper > section:nth-child(5) > div > div:nth-child(2) > article:nth-child(2) {
    width: 100%;
    height: 200px;
    background-color: rgb(75, 75, 75);
  }
  body > #wrapper > section:nth-child(6) {
    margin-top: 15vh;
    width: 100vw;
    height: 140px;
    background-image: url("../img/main/menu_banner.png");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
  }
  body > #wrapper > section:nth-child(6) > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  body > #wrapper > section:nth-child(6) > div > div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  body > #wrapper > section:nth-child(6) > div > div > .line {
    margin: 20px 0;
    width: 250px;
    border-bottom: 1px solid;
  }
  body > #wrapper > section:nth-child(6) > div > div > div:nth-child(1) {
    position: relative;
    left: 0px;
  }
  body > #wrapper > section:nth-child(6) > div > div > div:nth-child(3) {
    position: relative;
    left: 0px;
  }
  body > #wrapper > section:nth-child(6) > div > div > div {
    color: #fff;
    margin-right: 45px;
  }
  body > #wrapper > section:nth-child(6) > div > div > div > h1:nth-child(1) {
    margin-bottom: 10px;
  }
  body > #wrapper > section:nth-child(6) > div > div > div > p {
    margin-top: 20px;
  }
  body > #wrapper > section:nth-child(7) {
    width: 100vw;
    display: flex;
    justify-content: center;
    background-image: none;
    padding-top: 15vh;
    padding-bottom: 10vh;
  }
  body > #wrapper > section:nth-child(7) > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body > #wrapper > section:nth-child(7) > div > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body > #wrapper > section:nth-child(7) > div > #menu-list {
    width: 100%;
    padding: 0 24px;
    margin-top: 70px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
  }
  body > #wrapper > section:nth-child(7) > div > #menu-list > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body > #wrapper > section:nth-child(7) > div > #menu-list > div > div:nth-child(1) {
    border-radius: 50%;
    width: 40vw;
    height: 40vw;
    margin-bottom: 25px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.2);
    background-position: center bottom;
    background-size: 100%;
    border: 0px solid #a07062;
  }
  body > #wrapper > section:nth-child(7) > div > #menu-list > div > div:nth-child(1):hover {
    cursor: pointer;
    background-size: 120%;
    border: 5px solid #a07062;
    transition: ease 0.7s;
  }
  body > #wrapper > section:nth-child(7) > div > #menu-list > div:nth-child(1) > div:nth-child(1) {
    background-image: url("../img/main/menu_coffee.png");
  }
  body > #wrapper > section:nth-child(7) > div > #menu-list > div:nth-child(2) > div:nth-child(1) {
    background-image: url("../img/main/menu_juice.png");
  }
  body > #wrapper > section:nth-child(7) > div > #menu-list > div:nth-child(3) > div:nth-child(1) {
    background-image: url("../img/main/menu_tea.png");
  }
  body > #wrapper > section:nth-child(7) > div > #menu-list > div:nth-child(4) > div:nth-child(1) {
    background-image: url("../img/main/menu_dessert.png");
  }
  body > #wrapper > section:nth-child(8) {
    margin-top: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
  }
  body > #wrapper > section:nth-child(8) > div:nth-child(1) {
    width: 100vw;
    height: 152px;
    background-image: url("../img/main/main_store_bg.png");
    background-position: center;
    background-size: cover;
    z-index: 0;
    left: 0;
    position: relative;
  }
  body > #wrapper > section:nth-child(8) > div:nth-child(2) {
    z-index: 1;
    position: absolute;
    margin-top: 40px;
    width: 88%;
    height: 496px;
    border: 5px solid #331e18;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }
  body > #wrapper > section:nth-child(8) > div:nth-child(2) > div {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 4vw;
  }
  body > #wrapper > section:nth-child(8) > div:nth-child(2) > div > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body > #wrapper > section:nth-child(8) > div:nth-child(2) > div > article {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
  }
  body > #wrapper > section:nth-child(8) > div:nth-child(2) > div > article > div:nth-child(1) {
    margin-top: 5vh;
    width: 70%;
    height: 40%;
    background-image: url("../img/main/main_store.png");
    background-size: cover;
    background-position: center;
  }
  body > #wrapper > section:nth-child(8) > div:nth-child(2) > div > article > div:nth-child(2) {
    width: 100%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  body > #wrapper > section:nth-child(8) > div:nth-child(2) > div > article > div:nth-child(2) > div:nth-child(1) {
    text-align: center;
  }
  body > #wrapper > section:nth-child(8) > div:nth-child(2) > div > article > div:nth-child(2) > div:nth-child(1) > h2 {
    font-size: 18px;
    margin-bottom: 24px;
  }
  body > #wrapper > section:nth-child(8) > div:nth-child(2) > div > article > div:nth-child(2) > div:nth-child(1) > h3 {
    font-size: 16px;
  }
  body > #wrapper > section:nth-child(8) > div:nth-child(2) > div > article > div:nth-child(2) > div:nth-child(1) > h3:last-child {
    margin-top: 8px;
  }
  body > #wrapper > section:nth-child(8) > div:nth-child(2) > div > article > div:nth-child(2) > a {
    width: 152px;
    height: 56px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid #000;
    justify-content: center;
  }
  body > #wrapper > section:nth-child(8) > div:nth-child(2) > div > article > div:nth-child(2) > a > i {
    display: none;
  }
  body > #wrapper > section:nth-child(9) {
    margin-top: 480px;
    width: 100vw;
    display: flex;
    justify-content: center;
  }
  body > #wrapper > section:nth-child(9) > div:nth-child(1) {
    width: 100vw;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    padding: 0 24px;
  }
  body > #wrapper > section:nth-child(9) > div:nth-child(1) > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  body > #wrapper > section:nth-child(9) > div:nth-child(1) > div > div:nth-child(1) {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body > #wrapper > section:nth-child(9) > div:nth-child(1) > div > div:nth-child(2) {
    margin-top: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 56px;
  }
  body > #wrapper > section:nth-child(9) > div:nth-child(1) > div > div:nth-child(2) > div {
    width: 22vw;
    height: 22vw;
    border: 3px solid #331e18;
    rotate: 45deg;
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 98%;
  }
  body > #wrapper > section:nth-child(9) > div:nth-child(1) > div > div:nth-child(2) > div:nth-child(1) {
    position: relative;
    left: 4vw;
    background-image: url("../img/main/gallery_01.png");
  }
  body > #wrapper > section:nth-child(9) > div:nth-child(1) > div > div:nth-child(2) > div:nth-child(2) {
    width: 40vw;
    height: 40vw;
    z-index: 1;
    background-size: 98.5%;
    background-image: url("../img/main/gallery_02.png");
  }
  body > #wrapper > section:nth-child(9) > div:nth-child(1) > div > div:nth-child(2) > div:nth-child(3) {
    position: relative;
    right: 4vw;
    background-image: url("../img/main/gallery_03.png");
  }
  body > #wrapper > section:nth-child(9) > div:nth-child(1) > div > div:nth-child(3) {
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 36px;
    color: #000;
    width: 152px;
    height: 56px;
  }
  body > #wrapper > section:nth-child(9) > div:nth-child(1) > div > div:nth-child(3) > i {
    display: none;
  }
  body > #wrapper > section:nth-child(9) > div:nth-child(2) {
    position: relative;
    z-index: -1;
    margin-top: 240px;
    width: 100vw;
    height: 80px;
    background: linear-gradient(to bottom, #7a4c3f, #a07062);
  }
}/*# sourceMappingURL=index.css.map */